html {
    background-color: blanchedalmond;
}

body {
    color: aqua;
}

#other {
    color: green;
}

.red {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: red;
}

.green {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: green;
}

.blue {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: blue;
}

p {
    color: beige;
}